# -*- mode: apparmor -*-

# {{ ansible_managed }}

# From https://askubuntu.com/a/1528215

# This profile allows everything and only exists to give the application a name
# instead of having the label "unconfined"
abi <abi/4.0>,
include <tunables/global>
profile appimage-local
{{ ansible_user_dir }}/.local/bin/{{ item }}.AppImage
flags=(complain) {
	userns,
}
