#!/bin/bash
# {{ ansible_managed }}

# Adapted from https://www.medo64.com/2019/01/systemd-watchdog-for-any-service/
watchdog() {
    local interval_sec status
    interval_sec=$(( WATCHDOG_USEC / 1000000 / 2 ))
    while true
    do
	status=$({{ pcli }} s | awk '!/^[[:blank:]]*$/ {line=$0}; END {print line}')
	/bin/systemd-notify --status="$status" WATCHDOG=1
	sleep $interval_sec
    done
}

watchdog &

# shellcheck disable=SC1083
exec {{ pcli }} s | grep -q "^No active" || {{ pcli }} c -f
