# {{ ansible_managed }}
[Unit]
Description=ProtonVPN-CLI auto-connect
Wants=network-online.target

[Service]
Type=forking
NotifyAccess=all
ExecStartPre={{ protonvpn }} disconnect
ExecStart={{ protonvpn_watchdog }}
ExecStop={{ protonvpn }} disconnect
WatchdogSec=30
Restart=always
Environment=PVPN_WAIT=300
Environment=PVPN_DEBUG=1
Environment=SUDO_USER=omsai

[Install]
WantedBy=multi-user.target
