#!/bin/sh
#
# {{ ansible_managed }}
#
xmodmap -e 'keycode 82 = XF86AudioLowerVolume KP_Subtract KP_Subtract KP_Subtract KP_Subtract KP_Subtract XF86Prev_VMode'
xmodmap -e 'keycode 86 = XF86AudioRaiseVolume KP_Add KP_Add KP_Add KP_Add KP_Add XF86Next_VMode'
xmodmap -e 'keycode 106 = XF86AudioMute KP_Divide KP_Divide KP_Divide KP_Divide KP_Divide XF86Ungrab'
